body {
    /* text-align: center; */
    font-family: Roboto ;
    background-color: rgb(244, 236, 255);
}

h1 {
    font-size: 52px;
    color: rgb(88, 49, 196);
}

header {
    text-align: center;
    padding: 32px;
}

header img {
    width: 300px;
}


main {
    background-color: rgb(122, 74, 218);
    padding: 32px;
    margin: 32px auto;
    width: 700px;
    border-radius: 8px;
    color: rgb(248, 241, 255);
    box-shadow: 8px 6px 5px rgba(24, 22, 22, 0.425);
}
main h2 {
    text-align: left;
    font-family: 'Fira Sans' sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    margin: 14px 0;
    padding-left: 10px;
    border-left: 5px solid transparent;
}

.extra-important {
    color: rgb(255, 237, 177);
    border-color: rgb(247, 209, 85);
}

.inline_a {
    background-color: rgb(240, 195, 71);
    padding: 5px;
    border-radius: 3px;
    color: rgb(19, 17, 16);
    text-decoration: none;
    font-size: small;
}

footer {
    margin-top: 50px;
    text-align: center;
}
footer a {
    background-color: rgb(219, 174, 118);
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    box-shadow: 3px 3px 4px rgba(24, 22, 22, 0.425);
}

footer p {
    color: rgba(24, 22, 22, 0.425);
}